extends ../layout/index 

block contenido
    div.py-2
        h1.text-4xl.my-6.font-extrabold.text-center Sandiego 
            spam.font-normal Smart
        h2.text-center.text-2xl.font-extrabold= pagina 

        div.mt-4.mx-auto.max-w-md
            div.bg-white.py-8.px-4.shadow.rounded-md
                form(action="#") 
                    div.space-y-2
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for='nombre')  Tu nombre
                        input#nombre.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder='Tu nombre' type="text" name='nombre')

                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for='email') Email de registro
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder='Tu email' type="email" name='email')

                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for='password') Password
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder='Password' type="password" name='password')

                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for='repite_password') Repite password
                        input#repite_password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder='Repite password' type="password" name='repite_password')

                        div.flex.items-center.justify-between 
                            a.text-gray-500.text-xs(href="/auth/login") ¿Ya tienes cuenta? Inicia Sesión
                            a.text-gray-500.text-xs(href="/auth/OlvidePassword") ¿Olvidaste tu Password?

                        input(class='w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer rounded-md' type='submit' value='Crear Cuenta')

